<div class="container">
  <h4>
    Find the shortest path from Earth to any other planet in the galaxy!
  </h4>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- TODO: consider using select2 or something similar here instead to be able to search planets -->
    <div class="dropdown d-flex flex-column gap-3 m-3">
      <label for="planetDestinationDropdown" class="form-label">Pick a Destination Planet from the Dropdown: </label>
      <div class="d-flex flex-column align-items-center gap-3">
        <button
          class="btn btn-secondary dropdown-toggle w-25"
          type="button"
          id="planetDestinationDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ selectedDestination() || 'Select destination' }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="planetDestinationDropdown">
          @for (planet of otherPlanets(); track planet.id) {
            <li>
              <button type="button" class="dropdown-item" (click)="selectDestination(planet)">
                {{ planet.name }}
              </button>
            </li>
          }
        </ul>
        @if (selectedDestination()) {
          <button type="submit" class="btn btn-primary w-25">
            Get Fastest Route!
          </button>
        }
      </div>
    </div>
  </form>
</div>
